.header{
    background-image: url(../images/banner/banner1.png);
    background-position: absolute;
    width: 1600px;
    height: 808px;
    
}
.btn_primary{
    background:orangered;
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    color:  #FFFFFF;
}
.banner{
    display: flex;
    align-items: center;
   margin: 0 200px;
   padding: 0px 100px 262px 700px;
   font-family: 'Work Sans';
   font-style: normal;
   font-weight: 300;
   font-size: 50px;
   text-align: right;
}
.p1{
    display: flex;
    align-items: center;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 100;
font-size: 16px;
line-height: 26px;
text-align: right;

}

main{
    max-width: 416px;
    margin: 0 auto;
}
.section-title{
    
    position: absolute;
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
.section-description{
    position: absolute;
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    
}
.list{
    position: absolute;
width: 349px;
height: 162px;
left: 862px;
top: 1416px;
color: #444343;
}
.image{
    position: absolute;
width: 569px;
height: 723.3px;
left: 206px;
top: 943px;
}
.plans-title{
    position: absolute;
width: 179px;
height: 47px;
left: 711px;
top: 1793.3px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #151414;
}
.plan{

    margin-top: 130px;
    align-items: flex-end;

}

.skills-container{
 display: flex;
 gap: 24px;
 
}

.skill-title{
    font-weight: 700px;
    font-size: 20px;
}
.last{
    display: flex;
    gap: 331px;
    width: 1600px;
    height: 577px;
    background: #151414;
}
.design{
    width: 485px;
    height: 317px;
    left: 230px;
    top: 2782.26px;
    padding-left: 130px ;
}
.mail{
 color: #151414;
}

.lastp{

    color: #FFFFFF;
}
.last-title{
    color: #FFFFFF;
    width: 325px;
height: 204px;
left: 1046px;
top: 2782.26px;
}
.last-btn{
    position: absolute;
width: 170.11px;
height: 64px;
left: 1046px;
top: 2922.26px;
}

