.header{
    background-image: url(../images/banner/banner1.png);
    position: absolute;
    width: 1600px;
    height: 808px;
}
.btn_primary{
    background:orangered;
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    color:  #FFFFFF;
}
.banner{
    display: flex;
    align-items: center;
   margin: 0 200px;
   padding: 0px 100px 262px 700px;
   font-family: 'Work Sans';
   font-style: normal;
   font-weight: 300;
   font-size: 50px;
   text-align: right;
}
.p1{
    display: flex;
    align-items: center;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 100;
font-size: 16px;
line-height: 26px;
text-align: right;

}